@import "tailwindcss";
@import "@repo/tailwind-config";
@plugin './hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';



:root {
    --rsbs-max-w: 450px;
    --rsbs-ml: auto;
    --rsbs-mr: auto;
}

body {
    ::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera*/
    }
}

a {
    cursor: pointer;
}

button {
    cursor: pointer;
}

.show-scrollbar::-webkit-scrollbar {
    display: block;
    width: 8px;
}

.show-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.show-scrollbar::-webkit-scrollbar-thumb {
    background: #d1d5db;
    border-radius: 4px;
}

.show-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #9ca3af;
}