@import "tailwindcss";
@import "@repo/tailwind-config";
@plugin './hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@import 'keen-slider/keen-slider.min.css';



:root {
    --rsbs-max-w: 450px;
    --rsbs-ml: auto;
    --rsbs-mr: auto;
}