@import "tailwindcss";

@theme {
  --color-main: #313D4C;

  --color-blue: #3182F7;
  --color-red: #EF4452;

  --color-gray-50: #F3F4F6;
  --color-gray-100: #E4E7EB;
  --color-gray-200: #B0B9C2;
  --color-gray-300: #6C7887;
  --color-gray-400: #3D3D3D;
  --color-gray-500: #403E3F;
}

.scrollbar-hide {
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
}